shim-version: v0.3.5@sha256:f44c65a1f7db476be20c3431bb6facea8c2966606a07fbb5724a619f82bfa558
cvm-version: 0.6.4
cpus: 16
memory: 65536
gpus: full

models:
  - name: "gpt-oss-120b-free"
    repo: "openai/gpt-oss-120b@b5c939de8f754692c1647ca79fbf85e8c1e70f8a"
    mpk: "db5daddec41a3be3b51d1f4d009fb0e9b1243c2765e2bc5121acac79ab070a72_195764056064_0eefa619-50b7-588f-a072-d405fb439d36"

containers:
  - name: "gpt-oss-120b-free"
    image: ""
    args: [
      "--runtime", "nvidia",
      "--gpus", "all",
      "--ipc", "host",
     "vllm/vllm-openai:v0.13.0@sha256:d623253f2ba246378421c9642e20885e65257f38418ff26d48c81aea1702521b",
      "--model", "/tinfoil/mpk/mpk-db5daddec41a3be3b51d1f4d009fb0e9b1243c2765e2bc5121acac79ab070a72",
      "--served-model-name", "gpt-oss-120b-free",
      "--enable-auto-tool-choice",
      "--tool-call-parser", "openai",
      "--gpu-memory-utilization", "0.95",
      "--port", "8001"
    ]

shim:
  listen-port: 443
  upstream-port: 8001
  paths:
    - /v1/chat/completions
    - /metrics
    - /v1/responses
    - /health
