shim-version: v0.3.17@sha256:6dff221ec3c4de5c4f44472bc21b47574b7d118902aaa0a55fd367eeaa1f33c5
cvm-version: 0.6.6
cpus: 16
memory: 65536

models:
  - name: "gpt-oss-120b-free"
    repo: "openai/gpt-oss-120b@b5c939de8f754692c1647ca79fbf85e8c1e70f8a"
    mpk: "db5daddec41a3be3b51d1f4d009fb0e9b1243c2765e2bc5121acac79ab070a72_195764056064_0eefa619-50b7-588f-a072-d405fb439d36"

containers:
  - name: "gpt-oss-120b-free"
    image: "vllm/vllm-openai:v0.15.1-cu130@sha256:6daf4c3bab1bfb0180069bd8f2a035c1c981a424584f5b0480caa9efd9933f72"
    runtime: nvidia
    gpus: all
    ipc: host
    env:
      - LD_LIBRARY_PATH: "/usr/local/nvidia/lib64:/usr/local/nvidia/lib:/usr/lib/x86_64-linux-gnu"
    command: [
      "--model", "/tinfoil/mpk/mpk-db5daddec41a3be3b51d1f4d009fb0e9b1243c2765e2bc5121acac79ab070a72",
      "--served-model-name", "gpt-oss-120b-free",
      "--enable-auto-tool-choice",
      "--tool-call-parser", "openai",
      "--gpu-memory-utilization", "0.95",
      "--port", "8001"
    ]

shim:
  listen-port: 443
  upstream-port: 8001
  paths:
    - /v1/chat/completions
    - /metrics
    - /v1/responses
    - /health
